# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
.env/

# Dados
*.csv
*.tsv
*.json
*.xlsx
*.parquet
*.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
